@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);


.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:0;
}

#contact h3 {
	color: #89f542;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
    color: #6df9f4;
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

#preview{background-color: #c9c9c9;width: 440px;border: 10px solid #2386ff;margin:0px 0px 0px 0px;display:none;float:left;}
#canvas{margin:0px 0px 0px 50px;display = "none"}
#container{margin:0px 0px 0px 50px; float:left;}
#test-file-info{float:left;}
#deckinfo{text-align:right;font-family: Georgia, serif;font-weight:900;}
#ad{text-align:right;font-family: Georgia, serif;font-weight:900;}
ul{margin:0;padding:0;}
li{margin:0;padding:0;list-style-type:none;float:left;height: 64px;width: 44px;background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;}
img{display:block;}
span {width: 100%;}
textarea{width: 40%;height: 10%;}
hr{style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="50%" color=#987cb9 SIZE=3}
canvas{float:left;}
